*.json
CadastroAlunos/.vs/CadastroAlunos/v17/.suo
*.vsidx
*.dll
*.config
*.pdb
*.exe
*.props
*.targets
*.cs
*.cache
*.editorconfig
*.Up2Date
*.BuildWithSkipAnalyzers
*.txt
*.bin
*.v2
CadastroAlunos/.vs/CadastroAlunos/v17/.futdcache.v2
CadastroAlunos/.vs/CadastroAlunos/v17/.futdcache.v2
CadastroAlunos/.vs/CadastroAlunos/v17/.futdcache.v2
